@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
	 	h1{
	 		font-family: 'Gochi Hand', cursive;
			text-align: center;
			color: lime;
			letter-spacing: 5px;
			font-size:30px;
		
	 	   }

	 	p{
	 		font-family: 'Gochi Hand', cursive;
			text-align: center;
			color: white;
			letter-spacing: 1px;
			font-size: 22px;

	 	}	
	 	body{
	 		background: url("city.jpg") fixed center center ;
	 		background-size: cover;
	 		}
	 
	 	
	 	.my{
	 		width: 150px;
			border-radius: 100%;
			border: 7px solid white;
			margin-top: 12%;
			margin-left: auto;
			margin-right: auto;
			display: block;
	 	}
	 